<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Aluguel</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="#" th:action="@{/criarPedido}" th:object="${pedido}" method="post">

        <input type="text" th:field="*{contrato}" id="contrato" placeholder="contrato">

        <select th:field="*{cliente}">
            <option th:each="cliente : ${clientes}" 
                    th:value="${cliente.id}" 
                    th:text="${cliente.name}">
            </option>
        </select>

        <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
        <input type="submit" value="Add pedido">   
    </form>
</body>
</html>