<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Aluguel</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="#" th:action="@{/criarAgente}" th:object="${agente}" method="post">
        <label for="nome">Nome</label>
        <input type="text" th:field="*{nome}" id="nome" placeholder="Nome">
        <label for="id">Id</label>
        <input type="number" th:field="*{id}" id="id" placeholder="id">

        <span th:if="${#fields.hasErrors('nome')}" th:errors="*{nome}"></span>
        <input type="submit" value="Add agente">   
    </form>
</body>
</html>