<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Aluguel</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <form action="#" th:action="@{/criarPedido}" th:object="${pedido}" method="post">

        <label for="id">Id</label>
        <input type="number" th:field="*{id}" id="id" placeholder="id">
        <label for="confirmado">Confirmado</label>
        <input type="checkbox" th:field="*{confirmado}" id="confirmado" placeholder="confirmado">
        <label for="contrato">Contrato</label>
        <input type="text" th:field="*{contrato}" id="contrato" placeholder="contrato">

        <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
        <input type="submit" value="Add pedido">   
    </form>
</body>
</html>