<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Aluguel</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <div th:switch="${clientes}">
        <h2 th:case="null">Não há clientes</h2>
            <div th:case="*">
                <h2>Clientes</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                            <th>RG</th>
                            <th>CPF</th>
                            <th>Endereco</th>
                            <th>Profissao</th>
                            <th>Empregador</th>
                            <th>Rendimentos</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr th:each="cliente : ${clientes}">
                        <td th:text="${cliente.id}"></td>
                        <td th:text="${cliente.nome}"></td>
                        <td th:text="${cliente.rg}"></td>
                        <td th:text="${cliente.cpf}"></td>
                        <td th:text="${cliente.endereco}"></td>
                        <td th:text="${cliente.profissao}"></td>
                        <td th:text="${cliente.empregador}"></td>
                        <td th:text="${cliente.rendimentos}"></td>
                        <td><a th:href="@{/edit/{id}(id=${cliente.id})}">Edit</a></td>
                        <td><a th:href="@{/delete/{id}(id=${cliente.id})}">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>      
        <p><a href="/criarCliente">Add a new user</a></p>
    </div>
    
</body>
</html>