<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Aluguel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>

<body>

<div th:switch="${pedidos}">
    <h2 th:case="null">Não há pedidos</h2>
    <div th:case="*">
        <h2>Pedidos aprovados</h2>
            <table>
                <thead>
                <tr>
                    <th>IdContrato</th>
                    <th>Confirmado</th>
                    <th>Ações</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="pedido : ${pedidos}">
                    <td th:text="${pedido.id}"></td>
                    <td th:text="${pedido.confirmado}"></td>
                    <td>
                        <form th:action="@{/criarContrato/{id}(id=${pedido.id})}" method="post">
                            <input type="hidden" th:value="${pedido.id}" name="pedidoId"/>
                            <input type="submit" value="Criar contrato"/>
                        </form>
                    </td>
                </tr>
                </tbody>
            </table>
    </div>
</div>
<p><a href="/">Home</a></p>
</body>

</html>
