<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Aluguel</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <div th:switch="${agentes}">
        <h2 th:case="null">Não há agentes</h2>
            <div th:case="*">
                <h2>Agentes</h2>
                <table>
                    <thead>
                        <tr>
                            <th>Id</th>
                            <th>Nome</th>
                        </tr>
                    </thead>
                    <tbody>
                    <tr th:each="agente : ${agentes}">
                        <td th:text="${agente.id}"></td>
                        <td th:text="${agente.nome}"></td>
                        <td><a th:href="@{agenteEdit/{id}(id=${agente.id})}">Edit</a></td>
                        <td><a th:href="@{agenteDelete/{id}(id=${agente.id})}">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>      
        <p><a href="/criarAgente">Novo agente</a></p>
    </div>
    
</body>
</html>