<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Aluguel</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>

    <div th:switch="${pedidos}">
        <h2 th:case="null">Não há pedidos</h2>
        <div th:case="*">
            <h2>Pedidos</h2>
            <table>
                <thead>
                    <tr>
                        <th>Id</th>
                        <th>Contrato</th>
                        <th>Cliente</th>
                        <th>Agente</th>
                        <th>Automovel</th>
                        <th>Confirmado</th>

                    </tr>
                </thead>
                <tbody>
                    <tr th:each="pedido : ${pedidos}">
                        <td th:text="${pedido.id}"></td>
                        <td th:text="${pedido.contrato}"></td>
                        <td th:text="${pedido.cliente != null ? pedido.cliente.nome : 'X'}"></td>
                        <td th:text="${pedido.agente != null ? pedido.agente.cpnj : 'X'}"></td>
                        <td th:text="${pedido.automovel != null ? pedido.automovel.modelo : 'X'}"></td>
                        <td th:text="${pedido.confirmado}"></td>

                        <td><a th:href="@{pedidoEdit/{id}(id=${pedido.id})}">Edit</a></td>
                        <td><a th:href="@{pedidoDelete/{id}(id=${pedido.id})}">Delete</a></td>
                    </tr>
                </tbody>
            </table>
        </div>
        <p><a href="/criarPedido">Novo pedido</a></p>
    </div>
    <p><a href="/">Home</a></p>
</body>

</html>