<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Aluguel</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <form action="#" 
    th:action="@{automovelUpdate/{id}(id=${automovel.id})}" 
    th:object="${automovel}" 
    method="post">
      <label for="id">Id</label>
      <input type="number" th:field="*{id}" id="id" placeholder="id" disabled>
      <label for="ano">ano</label>
      <input type="number" th:field="*{ano}" id="ano" placeholder="ano">
      <label for="matricula">matricula</label>
      <input type="number" th:field="*{matricula}" id="matricula" placeholder="matricula">
      <label for="placa">placa</label>
      <input type="number" th:field="*{placa}" id="placa" placeholder="placa">
      <option th:each="prorietarioOpt : ${T(br.pucminas.aluguelDeCarros.Proprietario).values()}" 
      th:value="${prorietarioOpt}" th:text="${prorietarioOpt}"></option>


      <span th:if="${#fields.hasErrors('id')}" th:errors="*{id}"></span>
      <input type="submit" value="Update automovel">   
  </form>
</body>
</html>