<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head> 
    <title>Aluguel</title> 
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>

    <form action="#" 
    th:action="@{agenteUpdate/{id}(id=${agente.id})}" 
    th:object="${agente}" 
    method="post">
      <label for="cpnj">CPNJ</label>
      <input type="text" th:field="*{cpnj}" id="cpnj" placeholder="cpnj" >
      <label for="id">Id</label>
      <input type="number" th:field="*{id}" id="id" placeholder="id" disabled>


      <span th:if="${#fields.hasErrors('cpnj')}" th:errors="*{cpnj}"></span>
      <input type="submit" value="Update agente">   
  </form>
  <p><a href="/">Home</a></p>
</body>
</html>